<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Commerce</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<body>
    <div class="menu js-menu">
        <span class="menu__line"></span>
        <span class="menu__line"></span>
        <span class="menu__line"></span>
    </div>
    <header>
        <nav class="nav js-nav">
            <ul class="nav__list js-nav__list">
                <li class="nav__item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav__link">Privacy</a>
                </li>

            </ul>
        </nav>

        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 w3_agileits_top_nav">
                <div class="container">
                    <ul id="" class="gn-menu-main">
                        <li class="second logo admin"><h1><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>NOCOMMERCE</a></h1></li>
                    </ul>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Commerce</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Commerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('.js-menu').on('click', () => {
            $('.js-menu').toggleClass('active');
            $('.js-nav').toggleClass('open');
            $('.js-nav__list').toggleClass('show');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
